@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

body {
  background-color: white;
  font-family: "Montserrat", sans-serif;
}

.swiper-pagination {
  position: relative !important;
  margin-top: 24px;
}

.swiper-pagination-bullet {
  transition: all 0.3s ease;
  background-color: #C5C5C5 !important;
  opacity: 50% !important;
}

.swiper-pagination-bullet-active {
  width: 28px !important;
  border-radius: 1rem !important;
  background-color: #4a4a4a !important;
  opacity: 50% !important;
}


